html {
  --scrollbarBG: #005AB5;
  --thumbBG: #febd11;
}
body::-webkit-scrollbar {
  width: 13px;
}
body {
  scrollbar-width: medium;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.page-cont{
  padding-top: 0.6px;
}

body {
    font-family: 'Raleway', sans-serif;
  }

h1{
    font-size:3.5rem;
  }

a{
    font-family: 'Raleway', sans-serif;
    font-weight:500;
  }

#landing-page{
    background-color: #005AB5 ;
    height:98vh ;
  }

  #section-1{
    background-color:#febd11;
    height:98vh;
  }

.golden{
    color: #febd11;
  }

.navbar a:hover {
    color:#ffffff;
  }

.text-middle{
    margin:0;
    padding:0;
    position:absolute;
    top: 50%;
    }

.p-middle{
      margin:0;
      padding:0;
      position:absolute;
      top: 58%;
      font-size:1.5rem;
      }

  

