body {
  font-family: 'Raleway', sans-serif;
  }

  h1{
    font-size:3.5rem;
  }

  a{
    font-family: 'Raleway', sans-serif;
    font-weight:500;
  }




  #landing-page{
    background-color: #00246c ;
    height:100vh ;
  }

  #section-1{
    background-color:#febd11;
    height:100vh;
  }

  .golden{
    color: #febd11;
  }

  .navbar a:hover {
    color:#ffffff;
  }

  .text-middle{
    margin:0;
    padding:0;
    position:absolute;
    top: 50%;
    }

    .p-middle{
      margin:0;
      padding:0;
      position:absolute;
      top: 58%;
      font-size:1.5rem;
      }

